.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        una
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
        %li.side-header__box__menu__edit-user
          %i.fa.fa-edit
          %a{:href =>"/users/625/edit"}
          %i.fa.fa-cog
          
  .groups
    .group
      %p.group__group-name
        group
      %p.group__latest-message
        こんにちは

    .group
      %p.group__group-name
        group
      %p.group__latest-message
        やほー
