.chat-side{
  width: 300px;
  color:$side_blue_light;
  float: left;
  
.side-header {
  background-color: $side_blue_dark;
  height: 100px;
  // width:300px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight:bold;
}


.side-header__box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.fa{
  color: white;
}


.groups {
  height: calc(100vh - 100px);
    background-color: $side_blue_light;
    padding: 20px 20px 0;
    overflow: scroll;
}

.group{
  box-sizing: border-box;
  padding: 20px 0 40px;
  // margin-bottom: 5px;

  &__group-name{
    font-size: $side_group_name;
    color: white;
    // margin-bottom: 5px;
    
  }

  &__latest-message{
    font-size: $side_group_message;
    margin-top: 5px;
    color: white;
  } 
}

}