@import "./reset";
@import "colors";
@import "messages";
@import "font-awesome";


@import "font-size";
@import "vendor_prefix";
// @import "";
// @import "modules/chat";



.wrapper{
  width:  2000px;
}



.chat-main {
  width: calc(100vw - 300px);
  float: left;
}


.chat-side {
  width: 300px;
  color: white;
  float: left;
}



a {
  color: white;
  text-decoration: none;
}